<h2>TMDB</h2>

<div class="container">

	<!-- <div class="row"> -->

		<div class="col-xs-10 col-xs-offset-1 col-md-sm-8 col-md-offset-2">
			BLAH BLAH INSTRUCTIONS
			
			click button to load up some movies
		</div>
	<!-- </div> -->
		
	<div id="testArea" class="col-xs-10 col-xs-offset-1 col-md-sm-8 col-md-offset-2">
		{{ temp }}
	</div>
	
	<div class="col-xs-10 col-xs-offset-1 col-md-sm-8 col-md-offset-2">
		<button (click)="letsGetSomeMovies()">Click me!</button>
		<div>
			ID: {{ nicInfo?.id }}
			<br />
			<pre>
				{{ nicInfo | json }}
			</pre>
		</div>
	</div>
	
</div>
	
<!-- 
	do some ngfor thing to display movie data
 -->

 <!-- 
<div>
	Top 10 movies
	<table>
	</table>
</div>

	-->