<body>
  <h2><b>TMDB Homepage</b></h2> 
  <br>
  <div id="instructions" class="row">
    <h3>Instructions</h3>
    <p>If you navigate to the "Movie Search" tab, you will be able to click a button and retrieve a list of top movies.</p>
  </div>
  <div id="footnotes" class="row">
    <p> This project was designed by David Geron-Neubauer, Hunter Hedinger, Michelle Palmieri, and James Martini.
    <br>
    <br>
    <a href="https://github.com/jmartt/CISC474Project2">Link to the Github Repo for this Project</a>
  </div>
</body>